<!DOCTYPE html>
<html lang="nl">
	<head>
		<title><%= title %> | CMDA Minor Web Portal</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel='stylesheet' href='/stylesheets/style.css' />

		<script src="/js/script.client.js"></script>
	</head>
	<body>