<nav class="side">
	<ul>
		<li><a href="/">Home</a></li>
		<% if (locals.user) { %>
			<li><a href="/repo">Klas</a></li>
			<li><a href="/profile">Profiel</a></li>
			<li><a href="/login/logout">Log uit</a></li>
			<% } else { %>
			<li><a href="/repo">Overzicht</a></li>
			<li><a href="/login">Student Login</a></li>
		<% } %>
	</ul>
</nav>