<nav class="side">
	<ul>
		<li><a href="/">Home</a></li>
		<% if (locals.user) { %>
			<li><a href="/class">Class</a></li>
			<li><a href="/profile">Profile</a></li>
		<% } else { %>
			<li><a href="/repo">Archive</a></li>
			<li><a href="/login">Login</a></li>
		<% } %>
	</ul>
</nav>