<% if (locals.users) { %>
	<div class="userside">
		<ul>
			<% for (let i = 0; i < users.length; i++) { %>
				<li class="offline" id="userstatus-<%- users[i]._id %>">
					<a href="/profile/<%- users[i]._id %>">
						<span class="status">&bull;</span>
						<span class="name"><%- users[i].niceName || users[i].systemName %></span>
					</a>
				</li>
			<% } %>
		</ul>
	</div>
<% } %>