<%- include _header %>
<div class="rotatedNav">
	<nav class="index">
		<% if (locals.user) { %>
			<a href="/class">Class</a>
			<a href="/profile">Profile</a>
		<% } else { %>
			<a href="/repo">Archive</a>
			<a href="/login">Login</a>
		<% } %>
	</nav>
</div>
<%- include _footer %>