<%- include _header %>
<% if (!locals.user) { %>
	<header class="home">
		<h1>CMDA Web Minor</h1>
		<p>Hoi! Wij zijn Communication &amp; Multimedia Design (CMD) in Amsterdam. Deze website is een portaal voor studentenproject gemaakt tijdens de minor 'Web'. U kunt hier het gemaakte werk bekijken in het overzich. Studenten kunnen inloggen en meer informatie vinden over de vakken.</p>
	</header>
<% } else { %>
	<header class="home">
		<h1>CMDA Web Minor</h1>
		<p>Je bent ingelogd als <%- user.systemName %></p>
	</header>
<% } %>
<div class="rotatedNav">
	<nav class="index">
		<% if (locals.user) { %>
			<a href="/repo">Klas</a>
			<a href="/profile">Profiel</a>
		<% } else { %>
			<a href="/repo">Overzicht</a>
			<a href="/login">Student Login</a>
		<% } %>
	</nav>
</div>
<%- include _footer %>