$brown: rgb(71, 65, 67);
$yellow: rgb(255, 198, 54);
$blue: rgb(0, 173, 170);
$white: rgb(230, 230, 230);
$orange: rgb(255, 99, 68);
$trans: .2s;

body {
	margin: 0;
	font-family: sans-serif;
	background-color: $brown;
}

h1, h2, h3, h4, p {
	color: $yellow;
}

p {
	max-width: 40em;
	font-size: 1.3em;
}

a {
	color: $yellow;
}

.flex {
	display: grid;
	grid-template-columns: 10em auto 10em;
	main {
		padding: 0 2em;
	}
}

.side, .userside {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

.side {
	// padding: 2em 0;
	background-color: darken($yellow, 10);
	color: $brown;
	min-height: 100vh;
	a {
		color: $brown;
	}
	ul {
		li {
			min-width: 10em;
			border-bottom: .1em solid rgba($brown, .3);
			a {
				display: block;
				font-weight: bold;
				text-decoration: none;
				padding: .6em 1em;
				font-size: 1.2em;
				transition: $trans;
				background-color: $yellow;
				&:hover, &:focus {
					background-color: lighten($yellow, 5);
				}
			}
		}
	}
}

.userside {
	ul {
		display: flex;
		flex-direction: column;
	}
	li {
		margin-bottom: .2em;
		display: flex;
		justify-content: baseline;
		.status {
			font-size: 3em;
			margin-top: -0.35em;
			margin-right: .2em;
		}
		&.offline {
			.status {
				color: rgba(black, .5);
			}
		}
		&.online {
			.status {
				color: green;
			}
		}
	}
}

header {
	&.home {
		min-height: 18vh;
		padding: 1em 3em;
		border-bottom: 1em solid $yellow;
	}
}

.rotatedNav {
	width: 100vw;
	min-height: 80vh;
	border-bottom: 1em solid $yellow;
	nav.index {
		display: flex;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 80vh;
			width: 50vw;
			transition: $trans * 3;
			background-color: $yellow;
			color: $brown;
			text-decoration: none;
			font-size: 2.2em;
			&:hover, &:focus-within {
				width: 100vw;
				text-decoration: underline;
				transition: $trans;
				background-color: lighten($yellow, 5);
			}
			&:nth-of-type(2) {
				background-color: $brown;
				color: $yellow;
				&:hover {
					background-color: lighten($brown, 5);
				}
			}
		}
	}
}

#chat {
	ul {
		list-style: none;
		padding: 0;
		height: 12em;
		overflow-y: scroll;
		background-color: #EEE;
		li {
			font-size: 1.4em;
			padding: .5em 0;
			border-top: 1px solid #DDD;
			display: flex;
			align-items: baseline;
			&.yours {
				justify-content: flex-end;
			}
		}
	}
}

.repos {
	color: $yellow;
}

