$yellow: rgb(255, 204, 00);
$greenish: rgb(0, 155, 143);
$gray: rgb(222, 205, 191);
$white: rgb(240, 240, 240);
$red: rgb(235, 93, 86);
$blue: rgb(0, 72, 153);
$greenishlight: rgb(166, 213, 194);
$reddark: rgb(182, 28, 62);
$black: rgb(0, 0, 0);
$trans: .2s;

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: $white;
}

h1, h2, h3, h4, p {
	// color: $yellow;
}

p {
	max-width: 40em;
	font-size: 1.3em;
}

a {
	color: $black;
}

.flex {
	display: grid;
	grid-template-columns: 10em auto 10em;
	main {
		padding: 0 2em;
	}
}

.side, .userside {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

.side {
	// padding: 2em 0;
	// color: $white;
	background-color: darken($yellow, 10);
	min-height: 100vh;
	a {
		// color: $white;
	}
	ul {
		li {
			min-width: 10em;
			border-bottom: .1em solid rgba($white, .3);
			a {
				display: block;
				font-weight: bold;
				text-decoration: none;
				padding: .6em 1em;
				font-size: 1.2em;
				transition: $trans;
				background-color: $yellow;
				&:hover, &:focus {
					background-color: lighten($yellow, 5);
				}
			}
		}
	}
}

.userside {
	ul {
		display: flex;
		flex-direction: column;
		margin-top: .2rem;
		&.uioffline {
			.status {
				color: rgba(black, .5) !important;
				opacity: .5;
			}
		}
	}
	li {
		// margin-bottom: .2rem;
		// display: flex;
		// justify-content: baseline;
		.status {
			transition: opacity $trans;
			font-size: 3em;
			margin: -0.2em 0;
			// margin-right: .2em;
		}
		&.offline {
			.status {
				color: rgba(black, .5);
			}
		}
		&.online {
			order: -1;
			.status {
				color: green;
			}
		}
	}
	a {
		text-decoration: none;
		display: flex;
		align-items: center;
	}
}

header {
	&.home {
		min-height: 18vh;
		padding: 1em 3em;
		border-bottom: 1em solid $yellow;
	}
}

.rotatedNav {
	width: 100vw;
	min-height: 80vh;
	border-bottom: 1em solid $yellow;
	nav.index {
		display: flex;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 80vh;
			width: 50vw;
			transition: $trans * 3;
			background-color: $yellow;
			text-decoration: none;
			font-size: 2.2em;
			&:hover, &:focus-within {
				width: 100vw;
				text-decoration: underline;
				transition: $trans;
				background-color: lighten($yellow, 5);
			}
			&:nth-of-type(2) {
				background-color: $white;
				&:hover {
					background-color: lighten($white, 5);
				}
			}
		}
	}
}

#chat {
	ul {
		list-style: none;
		padding: 1em;
		height: 12em;
		overflow-y: scroll;
		background-color: darken($white, 5);
		box-shadow: 0 0 .5em inset $black;
		&.uioffline {
			background-color: darken($white, 20);
		}
		li {
			font-size: 1.4em;
			padding: .5em 0;
			border-top: .1rem solid darken($white, 10);
			display: flex;
			align-items: baseline;
			&.yours {
				justify-content: flex-end;
			}
		}
	}
	form {
		input {
			font-size: 1.2em;
			width: 100%;
			&[type=text].uioffline {
				background-color: darken($white, 10);
			}
		}
	}
}

p.offlinemsg {
	display: none;
}

.uioffline {
	+ p.offlinemsg {
		display: block;
	}
}


